<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "gallery-page" %>

<div class="content" style="padding-top: 150px;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-6 grid-x align-left">
        <div class="cell large-10 text-left">
          <h1 class="page-title"><%= @page.title %></h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content" style="padding-top: 0;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x medium-up-3">
        <% content(:image_collection)&.images&.each do |image| %>
          <div class="cell">
            <%= image_tag main_app.url_for(image.variant(resize: "800x800")) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
