<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "home-page" %>

<% footer_menu = Spina::Navigation.find_by(name: 'footer_menu') %>

<div class="banner grid-x align-center" style="background-image: url(<%= main_app.url_for(@page.content(:banner).variant(resize: "1280x720")) if content(:banner).present? %>);">
  <div class="banner__content-holder cell large-7">
    <div class="grid-container">
      <div class="grid-x align-center">
        <div class="cell large-12 text-center banner__content">
          <%= link_to (image_pack_tag 'footer-logo.svg'), spina.root_path, class: 'banner-logo' %><br />
          <ul class="footer_menu menu horizontal">
          <% footer_menu.navigation_items.roots.sorted.each do |nav_item| %>
            <li><%= link_to nav_item.menu_title, nav_item.materialized_path %></li>
          <% end %>
          </ul>
          <br /><a href=# id="scroll"><div class="downarrow text-center"></div></a>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="horseboxes"></a>

<div class="content vehicletype">
  <div class="grid-container">
    <div class="grid-x grid-margin-x row align-spaced whichgrid">
      <div class="cell small-12 medium-4 text-center">
        <div class="vehicle-image" style="background-image: url(https://felsted-horseboxes.herokuapp.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--064146f3afb8f54223ea1bf760489a53d7b53ea9/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTVRJNE1IZzNNakFHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--8a7fcf6ce9fd0c6a7a07351260ce2c3588597a02/35tonne.jpg);">&nbsp;</div>
        <h4><%= link_to '3.5 Tonnes', '#' %></h4>
      </div>
      <div class="cell small-12 medium-4 text-center">
        <div class="vehicle-image" style="background-image: url(https://felsted-horseboxes.herokuapp.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2e36a35201921501d0118024f02e5823f97f321a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTVRJNE1IZzNNakFHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--8a7fcf6ce9fd0c6a7a07351260ce2c3588597a02/65tonne.jpg);">&nbsp;</div>
        <h4><%= link_to '6.5 Tonnes', '#' %></h4>
      </div>
      <div class="cell small-12 medium-4 text-center">
        <div class="vehicle-image" style="background-image: url(https://felsted-horseboxes.herokuapp.com/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--17cbf1ba704ac3ed9d0867640dee752b94059c4e/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MY21WemFYcGxTU0lOTVRJNE1IZzNNakFHT2daRlZBPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--8a7fcf6ce9fd0c6a7a07351260ce2c3588597a02/75tonne.jpg);">&nbsp;</div>
        <h4><%= link_to '7.5 Tonnes', '#' %></h4>
      </div>
    </div>
  </div>
</div>

<div class="content craftsmanship">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell medium-5 grid-x">
        <div class="cell medium-10 text">
          <%= content(:text).try(:html_safe) %><br />
          <%= link_to 'Find out more', '/services', class: 'button trans' %>
        </div>
      </div>
      <div class="cell medium-7 image" style="background-image: url(<%= main_app.url_for(@page.content(:image).variant(resize: "1280x720")) if content(:image).present? %>);">
      </div>
    </div>
  </div>
</div>

<div class="content horseboxes-row">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell medium-6 grid-x align-left">
        <div class="cell medium-10 text-left">
          <h2>High quality crafted horseboxes</h2>
          <%= link_to 'Explore Our Horseboxes', '/horseboxes', class: 'button green' %>
        </div>
      </div>
      <div class="cell medium-6 grid-x align-right">
        <div class="cell medium-10 text-left">
          <%= content(:horseboxes_text).try(:html_safe) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content testimonials">
  <div class="grid-container">
    <div class="section-header white"><h2>Testimonials</h2></div>
    <div class="grid-x align-center-middle">
      <div id="testimonialCarousel" class="owl-carousel testimonial-carousel text-center">
        <% @page.content(:testimonials).structure_items.sorted_by_structure.limit(6).each do |testimonials| %>
          <blockquote class="testimonial">
            <%= testimonials.content(:testimonial).try(:html_safe) %>
            <cite class="author"><%= testimonials.content(:author) %></cite>
            <cite class="company"><%= testimonials.content(:company) %></cite>
          </blockquote>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content instagram">
  <div class="grid-container">
    <div class="grid-x row align-center medium-up-4">
      <div class="cell text-center">
        instagram scrape...
      </div>
    </div>
  </div>
</div>

<div class="content services-row">
  <div class="grid-container">
    <div class="grid-x align-center-middle">
      <div class="cell medium-6 grid-x align-left">
        <div class="cell medium-10 text-left">
          <h2>Our tailored range of services</h2>
          <%= link_to 'Visit our services', '/services', class: 'button green' %>
        </div>
      </div>
      <div class="cell medium-6 grid-x align-right">
        <div class="cell medium-10 text-left">
          <%= content(:services_text).try(:html_safe) %>
        </div>
      </div>
    </div>
  </div>
</div>
