<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "horseboxes-page" %>

<div class="content" style="padding-top: 150px;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-6 grid-x align-left">
        <div class="cell large-10 grid-x text-left">
          <h1 class="page-title"><%= @page.title %></h1>
          <% if content(:text).present? %>
            <%= content(:text).try(:html_safe) %>
          <% end %>
        </div>
      </div>
      <div class="cell large-6">
        <% if content(:image).present? %>
          <%= image_tag main_app.url_for(content(:image).variant(resize: "800x600")) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content hb-sub-nav">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-spaced">
      <% @page.children.each do |child_page| %>
        <div class="cell large-3 text-center">
          <%= link_to child_page.title, child_page.materialized_path, class: "button green hb-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content horseboxes">
  <div class="grid-container">

    <% @page.children.each do |child_page| %>

      <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell medium-6 text-center">

          <h2><%= child_page.title %></h2>
          <h3><%= child_page.content(:horseboxes_price) %></h3>

          <div class="horseboxes-text">
            <%= truncate(strip_tags(child_page.content(:text).try(:html_safe)), length: 200) %>
          </div>

          <div class="column align-self-bottom">
            <%= link_to 'More information', child_page.materialized_path, :class => "button green" %>
          </div>

        </div>
        <div class="cell medium-6 text-center">
          <div class="horseboxes-image" style="background-image: url(<%= main_app.url_for(child_page.content(:image).variant(resize: "1280x720")) if child_page.content(:image).present? %>);"></div>
        </div>
      </div>

    <% end %>
  </div>
</div>
