<%= content_for :page_title, @page.seo_title %>
<%= content_for :page_description, @page.description %>
<%= content_for :body_classes, "services-page" %>

<div class="content" style="padding-top: 150px;">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6 grid-x align-left">
        <div class="cell large-10 text-left">
          <h1 class="page-title"><%= @page.title %></h1>
          <%= content(:text).try(:html_safe) %>
        </div>
      </div>
      <div class="cell medium-6 grid-y services-mini hide-for-small-only">
        <% @page.children.each do |child_page| %>

          <div class="cell text-center">
            <%= link_to child_page.materialized_path do %>
              <div class="service-block" style="background-image: url(<%= main_app.url_for(child_page.content(:image).variant(resize: "1280x720")) if child_page.content(:image).present? %>);">
                <div class="service-heading text-center">
                  <h4><%= child_page.title %></h4>
                </div>
              </div>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="content services">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y align-center">

      <% @page.children.each do |child_page| %>

        <div class="cell medium-4 text-center">
          <%= link_to child_page.materialized_path do %>
            <div class="service-block" style="background-image: url(<%= main_app.url_for(child_page.content(:image).variant(resize: "1280x720")) if child_page.content(:image).present? %>);">
              <div class="service-heading text-center">
                <h4><%= child_page.title %></h4>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>
  </div>
</div>
